<footer style="background-color: #000000; color:#FFFFFF;">
    <div class="container">
        <br>
        <div class="row">
            <div class="col-sm-3" style="text-align: center;"><h5>Copyright &copy; 2018 Shirt Geeks</h5></div>
            <div class="col-sm-4"><h5>Shirt Geeks!<p>information ~~~~~~~~~~~~~~~~~~~~~~~~ff</p></h5></div>
            <div class="col-sm-2"><h4 style="text-align: center;">SNS</h4>
                <div class="list-group">
                    <a href="#" class="list-group-item">facebook</a>
                    <a href="#" class="list-group-item">youtube</a>
                    <a href="#" class="list-group-item">twitter</a>
                </div>
            </div>
            <div class="col-sm-2"><h4 style="text-align: center;"><span class="glyphicon glyphicon-ok"></span>&nbsp;by Jesse Garcia</h4></div>
        </div>
    </div>
</footer>