<div class="navbar-wrapper">
    <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Shirt Geeks</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="{% if request.path == '/' %}active{% endif %}"><a href="{% url "home" %}">Home</a></li>
                        <li class="{% if request.path == '/about/' %}active{% endif %}"><a href="{% url "about" %}">About</a></li>
                        <li class="{% if request.path == '/contact/' %}active{% endif %}"><a href="{% url "contact" %}">Contact</a></li>
                        <li class="{% if request.path == '/register/' %}active{% endif %}"><a href='{% url "register" %}'>Register</a></li>
                        <li class="{% if request.path == '/login/' %}active{% endif %}"><a href='{% url "login" %}'>Login</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li class="dropdown-header">Nav header</li>
                                <li><a href="#">Separated link</a></li>
                                <li><a href="#">One more separated link</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </div>
</div>


<div id="baseCarousel" class="basecarousel" data-ride="carousel">
    <div class="item">
        <a class="left basecarousel-control" href="" role="">
        </a>
    </div>

</div>




{#<div class='container'>#}
{#    <div class='row text-center'>#}
{#        <div clsas='col-sm-6 col-sm-offset-3'>#}
{#            <h1>Shirt Geek</h1>#}
{#            <a href='{% url "home" %}'>Home</a>#}
{#            <a href='{% url "about" %}'>About</a>#}
{#            <a href='{% url "contact" %}'>Contact</a>#}
{#            <a href='{% url "profiles:random" %}'>Random User</a>#}
{#            {% if request.user.is_authenticated %}#}
{#                <a href='{% url "restaurants:list" %}'>Restaurants</a>#}
{#                <a href='{% url "menus:list" %}'>Menu Items</a>#}
{#                <a href='{% url "logout" %}'>Logout</a>#}
{#            {% else %}#}
{#                <a href='{% url "register" %}'>Register</a>#}
{#                <a href='{% url "login" %}'>Login</a>#}
{##}
{#            {% endif %}#}
{#        </div>#}
{#    </div>#}
{##}
{#</div>#}
{#<hr/>#}
